.envrc
.direnv
result
node_modules

/offchain/output
/offchain/.psc-package/
/offchain/.psc*
/offchain/.purs*
/offchain/.psa*
/offchain/.spago
/offchain/.spago2nix*
/offchain/node_modules

/onchain/dist-newstyle/
/onchain/.stack-work/
/onchain/result*
/onchain/.direnv/
/onchain/.envrc
/onchain/.vscode/
